<div class="container mt-5">
  <h2>
    Categorias
    <a class="float-right" [routerLink]="['/categorias/add']">
      <button type="button" class="btn btn-primary">Agregar</button>
    </a>
  </h2>
  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th>CategoriaId</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index;">
        <td width="20">{{item.CategoriaId}}</td>
        <td>{{item.Nombre}}</td>
        <td>{{item.Descripcion}}</td>
        <td width="250">
          <button type="button" class="btn btn-danger mr-1" (click)="deleteCategoria(item.CategoriaId, i)">Borrar</button>
          <a [routerLink]="['/categorias/edit/', item.CategoriaId]">
            <button type="button" class="btn btn-primary">Editar</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
